$base-ultraWhite: #ffffff;
$base-white: #fcfcfc;
$base-gray: #333333;
$base-black: #111111;
$base-ultraBlack: #000000;

$base-blue: #0c9fbf;
$base-yellow: #ffc107;

$bg-blue: #e5ebf1;

$btn-green: #1eb21e;
$btn-disabled: #bdbdbd;
$btn-disabledDark: #4f4f4f;
