@import "./Global/colors";
@import "./Global/fonts";
@import "./Global/global";
@import "./Global/loading";

@import "../pages/Home/styles";
@import "../pages/DataImport/styles";
@import "../pages/Type/styles";
@import "../pages/Edition/styles";
