@mixin mainButton {
  .mainButton {
    display: flex;
    flex-direction: column;
    width: max-content;

    .green-button {
      display: flex;
      background-color: $btn-green;
      color: $base-white;
      padding: 10px 20px;
      font-size: 20pt;
      font-weight: 700;
      border-radius: 10px;
      width: max-content;
    }

    @content;
  }
}
