@mixin mainButton {
  .mainButton {
    display: flex;
    flex-direction: column;
    width: max-content;

    .green-button {
      display: flex;
      background-color: $btn-green;
      color: $base-white;
      padding: 10px 20px;
      font-size: 20pt;
      font-weight: 700;
      border-radius: 10px;
      width: max-content;
      transition: 0.3s ease all;

      &:hover {
        transform: scale(1.1);
        // opacity: 0.8;
      }
    }

    @content;
  }
}
