@import "../SideBarPanelItem/styles";

@mixin sideBarPanel {
  .sideBarPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;
    width: max-content;
    padding: 0 10px;
    background-color: $base-white;

    .logo {
      margin-top: 30px;
    }

    .navigation {
      display: flex;
      flex-direction: column;

      @include sideBarPanelItem();
    }

    .footer {
      display: flex;
      justify-content: center;
      width: 100%;

      p {
        font-family: $font-text;
        margin-left: 7px;
        font-size: 15pt;
      }
    }
  }
}
